@font-face {
  font-family: Montserrat;
  src: url(Montserrat-Light.otf);
}

.App {
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ffffff;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  font-family: montserrat;
}

.App-login {
  text-align: center;
}

.App-register {
  text-align: center;
}